.cart__container {
    padding-top: 107px;
    margin-bottom: 24px;
}

.cart__bg {
    background-image: url("https://images.wallpaperscraft.com/image/single/motorcycle_scooter_numbers_114128_1920x1080.jpg");
    padding-top:380px;
    /* width: 100%; */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.cart__bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.cart__bg-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.cart__bg-title-text {
    font-size:3.6rem;
    color:#fff;
}

.cart__bg-title-text::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    background-color: #fff;
    bottom:-6px;
    left:0;
}



.cart__title {
    margin-top: 32px;
    display:flex;
    justify-content: space-between;
}

.cart__title-text {
    font-size:2.4rem;
    font-weight: 500;
}

.cart__button-return {

}

.cart__button-return-btn {
    border: none;
    padding:10px 10px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 4px;
    font-size: 1.4rem;
}

.cart__button-return-btn:hover {
    cursor: pointer;
    background-color: rgba(219, 72, 46,0.9);

}

.cart__products-box-left {
    margin-top:10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding:0px 6px;
    max-height: 537px;
    overflow:auto;
}

.cart__products-item {
    display: flex;
    align-items: center;
}

.cart__products-item-image {

}

.cart__products-item-img {
    width: 100px;
    padding:8px 6px;
}

.cart__products-item-box {
    flex: 1;
    display: flex;
    margin-left: 20px;
    justify-content:space-between;
}

.cart__products-item-text {

}

.cart__products-item-text-name {
    font-size:1.9rem;
    font-weight: 500;
}

.cart__products-item-text-price {
    padding-top:16px;
    color: var(--primary-color);
    font-size:1.6rem;
    font-weight: 500;
}

.cart__products-item-input {

}

.cart__products-item-input-btn {

}

.cart__products-item-input-ip {
    width: 30px;
    height: 22px;
    text-align: center;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

.cart__products-item-input-btn {
    width: 22px;
    height: 22px;
    border: 1px solid #ccc;
}

.cart__products-item-input-btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
    color: #fff;
}

.cart__products-item-button {

}

.cart__products-item-button-btn {
    width: 80px;
    padding:3px 0px;
    border: 1px solid #ccc;
    background-color: var(--primary-color);
    color: #fff;
}

.cart__products-item-button-btn:hover {
    background-color: rgba(219, 72, 46,0.9);
    cursor: pointer;
}


/* checkout */

.cart__products-box-right {
    margin-top: 10px;
}

.cart__products-checkout-title {
    width: 100%;
    height: 30px;
    background-color: var(--primary-color);
    color: #fff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;
}

.cart__products-checkout-title-text {
    margin-left: 10px;
    font-size:2.2rem;
    font-weight: 500;
}

.cart__products-checkout-box {

    border:1px solid #ccc;
    padding:10px 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top: none;
}

.cart__products-checkout-price {
    display: flex;
    justify-content: space-between;
    font-size:1.5rem;
    padding: 8px 0px;
    font-weight: 400;
}

.cart__products-checkout-price:nth-child(4) {
    font-weight: 700;
    color: var(--primary-color);
}

.cart__products-checkout-price-text {

}

.cart__products-checkout-price-price {

}

.cart__products-checkout-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cart__products-checkout-button-btn {
    padding: 10px;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 4px;
}

.cart__products-checkout-button-btn:hover {
    background-color: rgba(219, 72, 46,0.9);
    cursor: pointer;
}