.productsdetail__container {
    padding-top:107px;
    background-color:#f5f5f5;
}

.productsdetail__nav {
    padding: 10px 10px;
}

.productsdetail__nav-text {
    font-size:1.2rem;
    color:#777;
}


.productsdetail__contain {
    /* margin-top:32px; */
    background-color:#fff;
}

.productsdetail__image {
    padding-top:10px
}

.productsdetail__image-slick-big {

}

.productsdetail__image-slick-img {

}

.productsdetail__image-slick-small {

}

.productsdetail__image-slick-big .productsdetail__image-slick-img img {
    width: 100%;
    
}

.productsdetail__image-slick-small .productsdetail__image-slick-img img {
    width: 100%;
    
}

.productsdetail__image-slick-small .slick-slider .slick-list .slick-track {
    display: flex;
    justify-content: center;
}

.productsdetail__image-slick-small .slick-slider .slick-list .slick-track .slick-slide {
    width: 100px !important;
}

.productsdetail__image-slick-small .slick-slider .slick-list .slick-track .slick-slide:nth-child(1) div .productsdetail__image-slick-img img {
    padding-right: 6px;
    padding-top: 10px;
}

.productsdetail__image-slick-small .slick-slider .slick-list .slick-track .slick-slide:nth-child(2) div .productsdetail__image-slick-img img {
    padding: 0 3px;
    padding-top: 10px;
}

.productsdetail__image-slick-small .slick-slider .slick-list .slick-track .slick-slide:nth-child(3) div .productsdetail__image-slick-img img {
    padding-left: 6px;
    padding-top: 10px;
}


/* productsdetail box right */

.productsdetail__box-right {
    padding-top: 10px;
}

.productsdetail__box-title {

}

.productsdetail__box-title-text {
    font-size:2.0rem;
    font-weight: 400;
}

.productsdetail__box-evaluate {
    padding-top: 20px;
}

.productsdetail__box-evaluate-text {
    font-size: 1.4rem;
    color:rgb(105, 103, 103);
}

.productsdetail__box-price {
    margin-top: 20px;
    width: 100%;
    height:60px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
}

.productsdetail__box-price-text {
    font-size: 2.6rem;
    color:var(--primary-color);
    padding:0 24px;
}

.productsdetail__box-price-status {
    display: flex;
    align-items: center;
    /* justify-content:center; */
}

.productsdetail__box-price-status-icon {
    font-size: 1.5rem;
    color: #2CA15D;
}

.productsdetail__box-price-status-text {
    font-size: 1.5rem;
    padding-left: 4px;
    color: #2CA15D;
}

.productsdetail__box-quantily {
    margin-top:20px;
    display:flex;
    align-items: center;
}

.productsdetail__box-quantily-text {
    font-size:1.4rem;
    color:rgb(105, 103, 103);
    padding-right: 50px;
}

.productsdetail__box-quantily-btn {
    height:30px;
    width: 30px;
    background-color:#fff;
    border: 1px solid #ccc;
}

.productsdetail__box-quantily-btn:hover {
    cursor: pointer;
    background-color:var(--primary-color);
    color:#fff;
}

.productsdetail__box-quantily-input {
    width: 35px;
    text-align: center;
    outline: none;
    height:30px;
    border: 1px solid #ccc;
    border-left:0;
    border-right:0;
}

.productsdetail__box-button {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.productsdetail__box-button-btn {
    width: 183px;
    height:50px;
    border: none;
    color: #fff;
    border-radius: 2px;
    font-size:1.4rem;
    
}

.productsdetail__box-button-btn:hover {
    cursor: pointer;
}

.productsdetail__box-button-btn:nth-child(1) {
    border: 1px solid var(--primary-color);
    background-color: rgba(219, 72, 46,0.2);
    color: var(--primary-color);
}

.productsdetail__box-button-btn:nth-child(1):hover {
    background-color: rgba(219, 72, 46,0.1);
}

.productsdetail__box-button-btn:nth-child(2) {
    margin-left: 24px;
    background-color: var(--primary-color);
}

.productsdetail__box-button-btn:nth-child(2):hover {
    background-color: rgba(219, 72, 46,.9);
}

.productsdetail__box-bottom {
    margin-top:60px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.productsdetail__box-bottom::after {
    position: absolute;
    width: 100%;
    content: '';
    height: 1px;
    background-color: rgb(238, 234, 234);
    top: -16px;
}

.productsdetail__box-bottom-title {
    font-size:1.6rem;
}

.productsdetail__box-bottom-title-icon {
    margin-right: 10px;
    color:var(--primary-color);
}

/* productsdetail__info */

.productsdetail__info-app {
    width: 100%;
    margin-top:42px;
}

.productsdetail__info-contain {
}

.productsdetail__info-title {
    position: relative;
    padding-left: 10px;
}

.productsdetail__info-title::after {
    position: absolute;
    content: '';
    width: 100%;
    height:2px;
    background-color: var(--primary-color);
    bottom:-10px;
}

.productsdetail__info-title-text {
    font-size:2.0rem;
    font-weight: 500;
    text-transform:uppercase;
}

.productsdetail__info-description {
    margin-top:32px;
    padding-left: 10px;
}

.productsdetail__info-description-text {
    font-size:1.6rem;
    line-height: 24px;
}

.productsdetail__info-image {
    margin-top:10px;
    display: flex;
    justify-content:center;
}

.productsdetail__info-image-img {
    width: 70%;
}

.productsdetail__info-involve {
    margin-top:27px;
    height: 702px;
    overflow: hidden;

}

.productsdetail__info-involve-title {
    position: relative;
    background-color:var(--primary-color);
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.productsdetail__info-involve-title-text {
    font-size: 1.8rem;
    font-weight:400;
    text-align: center;
    color:#fff;
}

.productsdetail__info-involve-link {
    text-decoration: none;
}

.productsdetail__info-involve-box {
    /* margin-top:32px; */
    border: 1px solid #ccc;
    border-top: none;
    display: flex;
    align-items: center;
}

.productsdetail__info-involve-img {
    width: 120px;
    padding:8px 6px;
    
}

.productsdetail__info-involve-text {
    padding:8px 6px;
}

.productsdetail__info-involve-text-name {
    font-size:1.6rem;
    font-weight: 400;
    height: 31px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color:#000;
}

.productsdetail__info-involve-text-name:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

.productsdetail__info-involve-text-price {
    font-size:1.6rem;
    padding-top: 20px;
    color:var(--primary-color);
}


