.register__container {
    padding-top:107px;
    overflow: hidden;
    margin-bottom: 25px;
}

.register__bg {
    width: 100%;
    height: 380px;
    padding-top:380px;
    background-image: url("https://images.wallpaperscraft.com/image/single/motorcycle_bike_side_view_115358_3840x2400.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login__bg {
    background-image: url("https://images.wallpaperscraft.com/image/single/motor_engine_mechanism_156863_1920x1080.jpg");
}

.register__bg-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}

.register__bg-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.register__bg-title-text {
    font-size:3.6rem;
    color:#fff;
}

.register__bg-title-text::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 3px;
    background-color: #fff;
    bottom:-3px;
    left:0;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    /* background-color:#ccc; */
    justify-content: center;
}

.register__title {
    
}

.register__title-text {
    text-transform: uppercase;
    font-size:2.2rem;
    position: relative;
}

.register__title-text::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color:var(--primary-color);
    bottom:-6px;
    left:0;
}

.register__form {
    padding-top:16px;
}

.register__form-input {

}

.register__form-input span {
    display:block;
    font-size:2.0rem;
    padding-top: 20px;
    padding-bottom: 6px;

}

.register__input__form-input-ip {
    padding: 0 10px;
    font-size: 1.8rem;
    width:700px;
    height:50px;
    display:block;
    outline-color:var(--primary-color);
    outline-width: thin;
    /* border:1px solid var(--primary-color); */
}

.register__form-button {
    padding-top: 16px;
    padding-bottom: 26px;
}

.register__form-btn {
    width: 700px;
    height: 50px;
    text-transform: uppercase;
    color:#fff;
    background-color: var(--primary-color);
    font-size: 1.6rem;
    border: none;
}

.register__form-btn:hover {
    opacity:0.9;
}

.login__question {
    padding-top:10px;
    font-size:1.1rem;
}

.login__question-text {
    display: inline-block;
}

.login__question-register {
    display: inline-block;
    padding-left: 4px;
    color:var(--primary-color);
    cursor: pointer;
}


.login__error-mess {
    margin-top:22px;
    text-align: center;
    color: red;
}